<a href="https://colab.research.google.com/github/ManJ-PC/Provas/blob/master/World_Moutain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
url2 = "https://raw.githubusercontent.com/ManJ-PC/Provas/master/Corrida%20Verticais%2C%20escadas%2C%20na%20areia%20etc/Montemuro_Vertical_Run2.csv"

In [1]:
url = "https://raw.githubusercontent.com/ManJ-PC/Provas/master/Corrida%20Verticais%2C%20escadas%2C%20na%20areia%20etc/Montemuro_Vertical_Run.csv"

In [7]:
info_participants = pd.read_csv(url2,encoding='latin-1')

In [14]:
#info_participants = pd.read_csv(url2,encoding='utf-8')

UnicodeDecodeError: ignored

In [8]:
info_participants

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,CLUBE / TEAM,ESCALÃO / CATEGORY,ESCALÃO FPA
0,Adão Silva,M,POR,FC Penafiel,M55,V55
1,Afonso Jesus,M,POR,ADC CJ Clark,Benjamim A Masc.,NaN
2,Agostinho Costa,M,POR,N.A. Cucujães,M60,V60
3,Alberto Manuel Rebelo Carvalho,M,POR,Individual,CAMINHEIRO,NaN
4,Albino Oliveira,M,POR,GTT  Armazém do Caffé,M65,NaN
...,...,...,...,...,...,...
250,Vitor Silva,M,POR,FC Penafiel,M50,V50
251,Vitória Brito,F,POR,GD Os Ribeirinhos,Infantil F,NaN
252,William Tighe,M,GB,England Athletics,Sénior M,NaN
253,Xavier Tavares,M,POR,GD Os Ribeirinhos,Juvenil M,NaN
254,Zak Hanna,M,IRL,New Balance,Sénior M,NaN

In [11]:
info_participants.groupby('CLUBE / TEAM').count()

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,ESCALÃO / CATEGORY,ESCALÃO FPA
CLUBE / TEAM,,,,,
A. D. Camacha,1,1,1,1,1
ACD Jardim da Serra,5,5,5,5,5
AD Amarante,3,3,3,3,2
AD Tartarugas e Lebres,23,23,23,23,3
ADC CJ Clark,16,16,15,16,3
...,...,...,...,...,...
Team Salomon,1,1,1,1,0
Thames Hare and Hounds,1,1,1,1,0
Viriathvs Runners Viseu,6,6,6,6,5
Viseu 360,11,11,11,11,2
Viseu Trail,1,1,1,1,0

In [17]:
#df_team_m = df['ESCALÃO / CATEGORY'].str.contains('M') # KeyError: 'ESCALÃO / CATEGORY'

info_participants.columns

Index(['NOME / NAME', 'GÉNERO', 'PAÍS / COUNTRY', 'CLUBE / TEAM',
       'ESCALÃO / CATEGORY', 'ESCALÃO FPA'],
      dtype='object')

In [26]:
#df_team_m = info_participants[info_participants['ESCALÃO / CATEGORY'].str.contains('M')& (info_participants['ESCALÃO / CATEGORY'] != 'CAMINHEIRO')]

# Display the result]#info_participant[info_participants['ESCALÃO / CATEGORY'].str.contains('M')]

In [28]:
df_team_m = info_participants[info_participants['GÉNERO'] == 'M']

In [29]:
df_team_m

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,CLUBE / TEAM,ESCALÃO / CATEGORY,ESCALÃO FPA
0,Adão Silva,M,POR,FC Penafiel,M55,V55
1,Afonso Jesus,M,POR,ADC CJ Clark,Benjamim A Masc.,NaN
2,Agostinho Costa,M,POR,N.A. Cucujães,M60,V60
3,Alberto Manuel Rebelo Carvalho,M,POR,Individual,CAMINHEIRO,NaN
4,Albino Oliveira,M,POR,GTT  Armazém do Caffé,M65,NaN
...,...,...,...,...,...,...
249,Vitor Rodrigues,M,POR,Dínamo Clube Estação,M40,V40
250,Vitor Silva,M,POR,FC Penafiel,M50,V50
252,William Tighe,M,GB,England Athletics,Sénior M,NaN
253,Xavier Tavares,M,POR,GD Os Ribeirinhos,Juvenil M,NaN
254,Zak Hanna,M,IRL,New Balance,Sénior M,NaN

In [30]:
# Define the regex pattern
pattern = r'Sénior|M\d+'

# Filter the rows where the 'Escalão' column matches the pattern
df_team_m = df_team_m[df_team_m['ESCALÃO / CATEGORY'].str.contains(pattern)]

In [31]:
df_team_m

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,CLUBE / TEAM,ESCALÃO / CATEGORY,ESCALÃO FPA
0,Adão Silva,M,POR,FC Penafiel,M55,V55
2,Agostinho Costa,M,POR,N.A. Cucujães,M60,V60
4,Albino Oliveira,M,POR,GTT  Armazém do Caffé,M65,NaN
5,Alex Baldacini,M,ITA,GD Orobie  Craft,M35,NaN
7,Alexandre Ricard,M,CAN,Running Room,M35,NaN
...,...,...,...,...,...,...
247,Vitor Cruz,M,POR,FC Penafiel,M40,V40
249,Vitor Rodrigues,M,POR,Dínamo Clube Estação,M40,V40
250,Vitor Silva,M,POR,FC Penafiel,M50,V50
252,William Tighe,M,GB,England Athletics,Sénior M,NaN
254,Zak Hanna,M,IRL,New Balance,Sénior M,NaN

In [32]:
df_team_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 254
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NOME / NAME         96 non-null     object
 1   GÉNERO              96 non-null     object
 2   PAÍS / COUNTRY      96 non-null     object
 3   CLUBE / TEAM        95 non-null     object
 4   ESCALÃO / CATEGORY  96 non-null     object
 5   ESCALÃO FPA         51 non-null     object
dtypes: object(6)
memory usage: 5.2+ KB

In [36]:
m_teams = df_team_m.groupby('CLUBE / TEAM')

# Iterate over the groups and display the results
for team, group in m_teams:
    print("Team:", team)
    print(group)
    print()

Team: ACD Jardim da Serra
         NOME / NAME GÉNERO PAÍS / COUNTRY         CLUBE / TEAM  \
59       Décio Abreu      M            POR  ACD Jardim da Serra
66   Eduardo Pestana      M            POR  ACD Jardim da Serra
131    Juvenal Faria      M            POR  ACD Jardim da Serra
196     Paulo Macedo      M            POR  ACD Jardim da Serra

    ESCALÃO / CATEGORY ESCALÃO FPA
59                 M35         V35
66            Sénior M       SUB23
131                M45         V45
196           Sénior M      SENIOR

Team: AD Amarante
          NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM ESCALÃO / CATEGORY  \
8    Alfredo Pinheiro      M            POR  AD Amarante                M55
189       Paulo Costa      M            POR  AD Amarante                M40
246       Vitor Costa      M            POR  AD Amarante                M45

    ESCALÃO FPA
8           NaN
189         V40
246         V45

Team: AD Tartarugas e Lebres
         NOME / NAME GÉNERO PAÍS / COUNTRY            CLUBE / TEAM  \
71   Eugénio Almeida      M            POR  AD Tartarugas e Lebres
192   Paulo Ferreira      M            POR  AD Tartarugas e Lebres

    ESCALÃO / CATEGORY ESCALÃO FPA
71                 M50         V50
192                M45         V45

Team: Athletics Tauranga
        NOME / NAME GÉNERO PAÍS / COUNTRY        CLUBE / TEAM  \
175  Michael Sutton      M            NZL  Athletics Tauranga

    ESCALÃO / CATEGORY ESCALÃO FPA
175           Sénior M         NaN

Team: Autistic Runners
         NOME / NAME GÉNERO PAÍS / COUNTRY      CLUBE / TEAM  \
23  António Loureiro      M            POR  Autistic Runners

   ESCALÃO / CATEGORY ESCALÃO FPA
23                M55         NaN

Team: Bairro dos Anjos  Amigos da Corrida
        NOME / NAME GÉNERO PAÍS / COUNTRY  \
25  António Pereira      M            POR

                            CLUBE / TEAM ESCALÃO / CATEGORY ESCALÃO FPA
25  Bairro dos Anjos  Amigos da Corrida                M45         V40

Team: C.A. Macedo de Cavaleiros
         NOME / NAME GÉNERO PAÍS / COUNTRY               CLUBE / TEAM  \
46      Carlos Lopes      M            POR  C.A. Macedo de Cavaleiros
117    José Carvalho      M            POR  C.A. Macedo de Cavaleiros
201  Pedro Rodrigues      M            POR  C.A. Macedo de Cavaleiros
216         Rui Muga      M            POR  C.A. Macedo de Cavaleiros

    ESCALÃO / CATEGORY ESCALÃO FPA
46                 M40         V40
117                M45         V45
201                M45         V45
216                M35         V35

Team: CD Delikia
                NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM  \
183  Pablo Camescasse Rouco      M            ESP   CD Delikia

    ESCALÃO / CATEGORY ESCALÃO FPA
183           Sénior M         NaN

Team: Cimalp
             NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM  \
205  Raúl Criado Sanchez      M            ESP       Cimalp

    ESCALÃO / CATEGORY ESCALÃO FPA
205           Sénior M         NaN

Team: Clube Desportivo Feirense
    NOME / NAME GÉNERO PAÍS / COUNTRY               CLUBE / TEAM  \
181  Nuno Lopes      M            POR  Clube Desportivo Feirense

    ESCALÃO / CATEGORY ESCALÃO FPA
181                M35         V35

Team: Clube Desportivo de Leomil
                  NOME / NAME GÉNERO PAÍS / COUNTRY  \
84      Gerson da Silva Faria      M            BRA
115              José A Nunes      M            POR
142              Luís Correia      M            POR
215  Rui Diogo da Silva Neves      M            POR

                   CLUBE / TEAM ESCALÃO / CATEGORY ESCALÃO FPA
84   Clube Desportivo de Leomil                M40         NaN
115  Clube Desportivo de Leomil                M60         NaN
142  Clube Desportivo de Leomil                M40         V40
215  Clube Desportivo de Leomil                M35         V35

Team: Dark Peak Fell Runners
      NOME / NAME GÉNERO PAÍS / COUNTRY            CLUBE / TEAM  \
67  Edward Corden      M             GB  Dark Peak Fell Runners

   ESCALÃO / CATEGORY ESCALÃO FPA
67           Sénior M         NaN

Team: Dínamo Clube Estação
         NOME / NAME GÉNERO PAÍS / COUNTRY          CLUBE / TEAM  \
249  Vitor Rodrigues      M            POR  Dínamo Clube Estação

    ESCALÃO / CATEGORY ESCALÃO FPA
249                M40         V40

Team: England Athletics
         NOME / NAME GÉNERO PAÍS / COUNTRY       CLUBE / TEAM  \
173  Matthew Knowles      M             GB  England Athletics
239      Tom Spencer      M             GB  England Athletics
252    William Tighe      M             GB  England Athletics

    ESCALÃO / CATEGORY ESCALÃO FPA
173           Sénior M         NaN
239           Sénior M         NaN
252           Sénior M         NaN

Team: FC Penafiel
          NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM ESCALÃO / CATEGORY  \
0          Adão Silva      M            POR  FC Penafiel                M55
27   António Teixeira      M            POR  FC Penafiel                M40
44    Carlos Ferreira      M            POR  FC Penafiel                M45
95        Hugo Soares      M            POR  FC Penafiel           Sénior M
109       João Amorim      M            POR  FC Penafiel                M45
112  Joaquim Pinheiro      M            POR  FC Penafiel                M40
125        José Rocha      M            POR  FC Penafiel                M40
168       Mark Macedo      M            POR  FC Penafiel                M40
207     Raul Ferreira      M            POR  FC Penafiel                M40
247        Vitor Cruz      M            POR  FC Penafiel                M40
250       Vitor Silva      M            POR  FC Penafiel                M50

    ESCALÃO FPA
0           V55
27          V40
44          V45
95        SUB23
109         V45
112         V40
125         V35
168         V40
207         V40
247         V40
250         V50

Team: GAP Exército
     NOME / NAME GÉNERO PAÍS / COUNTRY  CLUBE / TEAM ESCALÃO / CATEGORY  \
237  Tiago Silva      M            POR  GAP Exército                M35

    ESCALÃO FPA
237         NaN

Team: GD Madrelos  Furfor
       NOME / NAME GÉNERO PAÍS / COUNTRY          CLUBE / TEAM  \
209  Ricardo Nunes      M            POR  GD Madrelos  Furfor

    ESCALÃO / CATEGORY ESCALÃO FPA
209                M35         V35

Team: GD Orobie  Craft
      NOME / NAME GÉNERO PAÍS / COUNTRY       CLUBE / TEAM ESCALÃO / CATEGORY  \
5  Alex Baldacini      M            ITA  GD Orobie  Craft                M35

  ESCALÃO FPA
5         NaN

Team: GD São Paio de Oleiros
                   NOME / NAME GÉNERO PAÍS / COUNTRY            CLUBE / TEAM  \
39  Bruno Miguel Marques Couto      M            POR  GD São Paio de Oleiros

   ESCALÃO / CATEGORY ESCALÃO FPA
39                M40         V40

Team: GD Os Ribeirinhos
          NOME / NAME GÉNERO PAÍS / COUNTRY         CLUBE / TEAM  \
28       Arlindo Dias      M            POR  GD Os Ribeirinhos
40      Bruno Tecelão      M            POR  GD Os Ribeirinhos
53   Cláudio Maurício      M            POR  GD Os Ribeirinhos
116     José Assunção      M            POR  GD Os Ribeirinhos
177     Miguel Menino      M            POR  GD Os Ribeirinhos
180         Nuno Dias      M            POR  GD Os Ribeirinhos
210      Roberto Leal      M            POR  GD Os Ribeirinhos

    ESCALÃO / CATEGORY ESCALÃO FPA
28                 M65         V65
40                 M40         V40
53            Sénior M       SUB23
116                M45         V45
177                M45         NaN
180                M40         V40
210                M55         V55

Team: GDC Castelo de Paiva
       NOME / NAME GÉNERO PAÍS / COUNTRY          CLUBE / TEAM  \
245  Vitor Barbosa      M            POR  GDC Castelo de Paiva

    ESCALÃO / CATEGORY ESCALÃO FPA
245                M40         V40

Team: GDC Guilhovai
     NOME / NAME GÉNERO PAÍS / COUNTRY   CLUBE / TEAM ESCALÃO / CATEGORY  \
193  Paulo Gomes      M            POR  GDC Guilhovai                M50

    ESCALÃO FPA
193         V50

Team: GDR Granja  Trutas do Mau
           NOME / NAME GÉNERO PAÍS / COUNTRY                CLUBE / TEAM  \
153  Marcelo Gonçalves      M            POR  GDR Granja  Trutas do Mau

    ESCALÃO / CATEGORY ESCALÃO FPA
153           Sénior M      SENIOR

Team: GTT  Armazém do Caffé
       NOME / NAME GÉNERO PAÍS / COUNTRY            CLUBE / TEAM  \
4  Albino Oliveira      M            POR  GTT  Armazém do Caffé

  ESCALÃO / CATEGORY ESCALÃO FPA
4                M65         NaN

Team: Individual
                     NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM  \
21                 António Dinis      M            POR   Individual
75      Fernando Pinheiro Mendes      M            POR   Individual
77                 Filipe Coelho      M            POR   Individual
89        Gonzalo Bernabé Martin      M            ESP   Individual
113               Joaquim Santos      M            POR   Individual
121  José Henrique Lopes Peixoto      M            POR   Individual
148             Manuel Domingues      M            POR   Individual
191                   Paulo Dias      M            POR   Individual
197               Pedro Ferreira      M            POR   Individual
217  Rui Pedro de Jesus Ferreira      M            POR   Individual

    ESCALÃO / CATEGORY ESCALÃO FPA
21                 M50         NaN
75                 M50         V50
77                 M35         NaN
89                 M55         NaN
113                M60         NaN
121                M50         V50
148                M50         NaN
191                M55         NaN
197                M45         NaN
217                M45         NaN

Team: Lamego Tribo Runners
              NOME / NAME GÉNERO PAÍS / COUNTRY          CLUBE / TEAM  \
149  Manuel Ribeiro Neves      M            POR  Lamego Tribo Runners

    ESCALÃO / CATEGORY ESCALÃO FPA
149                M65         NaN

Team: Linces do Marão
    NOME / NAME GÉNERO PAÍS / COUNTRY     CLUBE / TEAM ESCALÃO / CATEGORY  \
144  Luís Félix      M            POR  Linces do Marão                M35

    ESCALÃO FPA
144         V35

Team: Merrell
     NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM ESCALÃO / CATEGORY  \
208  Remi Leroux      M            CAN      Merrell           Sénior M

    ESCALÃO FPA
208         NaN

Team: N.A. Cucujães
         NOME / NAME GÉNERO PAÍS / COUNTRY   CLUBE / TEAM ESCALÃO / CATEGORY  \
2    Agostinho Costa      M            POR  N.A. Cucujães                M60
74     Fernando Lima      M            POR  N.A. Cucujães                M45
236  Tiago Gonçalves      M            POR  N.A. Cucujães           Sénior M

    ESCALÃO FPA
2           V60
74          V45
236      SENIOR

Team: New Balance
    NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM ESCALÃO / CATEGORY  \
254   Zak Hanna      M            IRL  New Balance           Sénior M

    ESCALÃO FPA
254         NaN

Team: Old School
     NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM ESCALÃO / CATEGORY  \
241  Vasco Sousa      M            POR   Old School                M55

    ESCALÃO FPA
241         NaN

Team: Runners do Demo
                 NOME / NAME GÉNERO PAÍS / COUNTRY     CLUBE / TEAM  \
122           José Magalhães      M            POR  Runners do Demo
123  José Manuel Gomes Nunes      M            POR  Runners do Demo

    ESCALÃO / CATEGORY ESCALÃO FPA
122                M50         NaN
123                M45         V45

Team: Running Room
        NOME / NAME GÉNERO PAÍS / COUNTRY  CLUBE / TEAM ESCALÃO / CATEGORY  \
7  Alexandre Ricard      M            CAN  Running Room                M35

  ESCALÃO FPA
7         NaN

Team: Running4fun Team Viseu
                  NOME / NAME GÉNERO PAÍS / COUNTRY            CLUBE / TEAM  \
124  José Manuel Lima Antunes      M            POR  Running4fun Team Viseu

    ESCALÃO / CATEGORY ESCALÃO FPA
124                M50         NaN

Team: SIMECQ
                    NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM  \
43  Carlos Daniel Almeida Gomes      M            POR       SIMECQ

   ESCALÃO / CATEGORY ESCALÃO FPA
43           Sénior M         NaN

Team: Sardonisca Runners
         NOME / NAME GÉNERO PAÍS / COUNTRY        CLUBE / TEAM  \
224  Sérgio Monteiro      M            POR  Sardonisca Runners

    ESCALÃO / CATEGORY ESCALÃO FPA
224                M35         NaN

Team: Sporting Club Santacruzense
                   NOME / NAME GÉNERO PAÍS / COUNTRY  \
126  José Rodrigues de Almeida      M            POR

                    CLUBE / TEAM ESCALÃO / CATEGORY ESCALÃO FPA
126  Sporting Club Santacruzense                M60         NaN

Team: Sporting Clube de Portugal
      NOME / NAME GÉNERO PAÍS / COUNTRY                CLUBE / TEAM  \
218  Rui Teixeira      M            POR  Sporting Clube de Portugal

    ESCALÃO / CATEGORY ESCALÃO FPA
218                M40         V40

Team: TIR2RENT, SA
                         NOME / NAME GÉNERO PAÍS / COUNTRY  CLUBE / TEAM  \
206  Raúl Fernandes Cardosa da Silva      M            POR  TIR2RENT, SA

    ESCALÃO / CATEGORY ESCALÃO FPA
206                M50         NaN

Team: TJ Spartak Vrchlabi
       NOME / NAME GÉNERO PAÍS / COUNTRY         CLUBE / TEAM  \
182  Ondrej Fejfar      M            CZE  TJ Spartak Vrchlabi

    ESCALÃO / CATEGORY ESCALÃO FPA
182           Sénior M         NaN

Team: Team Hoka Buff
   NOME / NAME GÉNERO PAÍS / COUNTRY    CLUBE / TEAM ESCALÃO / CATEGORY  \
9  Alric Petit      M            FRA  Team Hoka Buff           Sénior M

  ESCALÃO FPA
9         NaN

Team: Team Salomon
         NOME / NAME GÉNERO PAÍS / COUNTRY  CLUBE / TEAM ESCALÃO / CATEGORY  \
154  Marek Chrascina      M            CZE  Team Salomon           Sénior M

    ESCALÃO FPA
154         NaN

Team: Thames Hare and Hounds
   NOME / NAME GÉNERO PAÍS / COUNTRY            CLUBE / TEAM  \
20   Andy Weir      M             GB  Thames Hare and Hounds

   ESCALÃO / CATEGORY ESCALÃO FPA
20                M55         NaN

Team: Viriathvs Runners Viseu
       NOME / NAME GÉNERO PAÍS / COUNTRY             CLUBE / TEAM  \
190    Paulo Costa      M            POR  Viriathvs Runners Viseu
240  Tomás Fonseca      M            POR  Viriathvs Runners Viseu

    ESCALÃO / CATEGORY ESCALÃO FPA
190                M55         V55
240                M60         V60

Team: Viseu 360
              NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM  \
26   António Seixas Ramos      M            POR    Viseu 360
45        Carlos Ferreira      M            POR    Viseu 360
118             José Faro      M            POR    Viseu 360
120          José Gouveia      M            POR    Viseu 360
179          Nuno Cardoso      M            POR    Viseu 360
195           Paulo Lopes      M            POR    Viseu 360
235        Tiago Ferreira      M            POR    Viseu 360

    ESCALÃO / CATEGORY ESCALÃO FPA
26                 M65         NaN
45                 M45         V45
118                M50         NaN
120                M55         NaN
179                M40         V40
195                M45         NaN
235           Sénior M         NaN

Team: Viseu Trail
                          NOME / NAME GÉNERO PAÍS / COUNTRY CLUBE / TEAM  \
22  António Jorge Jesus Silva Marques      M            POR  Viseu Trail

   ESCALÃO / CATEGORY ESCALÃO FPA
22                M65         NaN

In [38]:
m_teams

In [42]:
# ordenate

# Group the data by 'Team' and calculate the number of athletes in each team
m_num_atl = df_team_m.groupby('CLUBE / TEAM').size().reset_index(name='Number of Athletes')

# Sort the grouped DataFrame by the number of athletes in descending order
sorted_m_num_atl = m_num_atl.sort_values(by='Number of Athletes', ascending=False)

# Display the result
print(sorted_m_num_atl)

                            CLUBE / TEAM  Number of Athletes
14                           FC Penafiel                  11
44                             Viseu 360                   7
19                   GD Os Ribeirinhos                   7
0                    ACD Jardim da Serra                   4
10            Clube Desportivo de Leomil                   4
6              C.A. Macedo de Cavaleiros                   4
1                            AD Amarante                   3
13                     England Athletics                   3
28                         N.A. Cucujães                   3
2                 AD Tartarugas e Lebres                   2
43               Viriathvs Runners Viseu                   2
31                       Runners do Demo                   2
40                        Team Hoka Buff                   1
29                           New Balance                   1
30                            Old School                   1
32                          Running Room                   1
42                Thames Hare and Hounds                   1
39                   TJ Spartak Vrchlabi                   1
34                                SIMECQ                   1
35                    Sardonisca Runners                   1
36           Sporting Club Santacruzense                   1
41                          Team Salomon                   1
27                               Merrell                   1
37            Sporting Clube de Portugal                   1
38                          TIR2RENT, SA                   1
33                Running4fun Team Viseu                   1
23                GTT  Armazém do Caffé                   1
26                       Linces do Marão                   1
25                  Lamego Tribo Runners                   1
3                     Athletics Tauranga                   1
4                       Autistic Runners                   1
5   Bairro dos Anjos  Amigos da Corrida                   1
7                             CD Delikia                   1
8                                 Cimalp                   1
9              Clube Desportivo Feirense                   1
11                Dark Peak Fell Runners                   1
12                  Dínamo Clube Estação                   1
15                          GAP Exército                   1
16                  GD Madrelos  Furfor                   1
17                     GD Orobie  Craft                   1
18                GD São Paio de Oleiros                   1
20                  GDC Castelo de Paiva                   1
21                         GDC Guilhovai                   1
22            GDR Granja  Trutas do Mau                   1
45                           Viseu Trail                   1

In [41]:
# Remove the team with the name 'Individual'
sorted_m_num_atl = sorted_m_num_atl[sorted_m_num_atl['CLUBE / TEAM'] != 'Individual']

In [ ]:
info_participants[info_participants['ESCALÃO / CATEGORY'].str.contains('M')& (info_participants['ESCALÃO / CATEGORY'] != 'CAMINHEIRO')]

In [43]:
df_team_m

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,CLUBE / TEAM,ESCALÃO / CATEGORY,ESCALÃO FPA
0,Adão Silva,M,POR,FC Penafiel,M55,V55
2,Agostinho Costa,M,POR,N.A. Cucujães,M60,V60
4,Albino Oliveira,M,POR,GTT  Armazém do Caffé,M65,NaN
5,Alex Baldacini,M,ITA,GD Orobie  Craft,M35,NaN
7,Alexandre Ricard,M,CAN,Running Room,M35,NaN
...,...,...,...,...,...,...
247,Vitor Cruz,M,POR,FC Penafiel,M40,V40
249,Vitor Rodrigues,M,POR,Dínamo Clube Estação,M40,V40
250,Vitor Silva,M,POR,FC Penafiel,M50,V50
252,William Tighe,M,GB,England Athletics,Sénior M,NaN
254,Zak Hanna,M,IRL,New Balance,Sénior M,NaN

In [49]:
import pandas as pd

# Suppose you have a DataFrame called 'df' with columns 'Name' and 'Team'
df = pd.read_csv(url2,encoding='latin-1')  # Use this line to read from a CSV file

df = df[df['GÉNERO'] == 'M']

# Define the regex pattern
pattern = r'Sénior|M\d+'

# Filter the rows where the 'Escalão' column matches the pattern
df = df[df['ESCALÃO / CATEGORY'].str.contains(pattern)]



# Remove the team with the name 'Individual'
df_filtered = df[df['CLUBE / TEAM'] != 'Individual']

# Group the filtered data by 'Team' and get the number of athletes in each team
grouped = df_filtered.groupby('CLUBE / TEAM').size().reset_index(name='Number of Athletes')

# Sort the grouped DataFrame by the number of athletes in descending order
sorted_grouped = grouped.sort_values(by='Number of Athletes', ascending=False)

# Create a general DataFrame 'df_team_m' with the team names and number of athletes
df_team_m = sorted_grouped.copy()

# Append the number of athletes column to 'df_team_m'
sorted_m_num_atl = sorted_grouped['Number of Athletes']
df_team_m['Number of Athletes'] = sorted_m_num_atl

# Display the result
print(df_team_m)

                            CLUBE / TEAM  Number of Athletes
14                           FC Penafiel                  11
43                             Viseu 360                   7
19                   GD Os Ribeirinhos                   7
0                    ACD Jardim da Serra                   4
10            Clube Desportivo de Leomil                   4
6              C.A. Macedo de Cavaleiros                   4
1                            AD Amarante                   3
13                     England Athletics                   3
27                         N.A. Cucujães                   3
2                 AD Tartarugas e Lebres                   2
30                       Runners do Demo                   2
42               Viriathvs Runners Viseu                   2
38                   TJ Spartak Vrchlabi                   1
28                           New Balance                   1
29                            Old School                   1
31                          Running Room                   1
32                Running4fun Team Viseu                   1
39                        Team Hoka Buff                   1
34                    Sardonisca Runners                   1
35           Sporting Club Santacruzense                   1
41                Thames Hare and Hounds                   1
26                               Merrell                   1
36            Sporting Clube de Portugal                   1
37                          TIR2RENT, SA                   1
40                          Team Salomon                   1
33                                SIMECQ                   1
22            GDR Granja  Trutas do Mau                   1
25                       Linces do Marão                   1
24                  Lamego Tribo Runners                   1
3                     Athletics Tauranga                   1
4                       Autistic Runners                   1
5   Bairro dos Anjos  Amigos da Corrida                   1
7                             CD Delikia                   1
8                                 Cimalp                   1
9              Clube Desportivo Feirense                   1
11                Dark Peak Fell Runners                   1
12                  Dínamo Clube Estação                   1
15                          GAP Exército                   1
16                  GD Madrelos  Furfor                   1
17                     GD Orobie  Craft                   1
18                GD São Paio de Oleiros                   1
20                  GDC Castelo de Paiva                   1
21                         GDC Guilhovai                   1
23                GTT  Armazém do Caffé                   1
44                           Viseu Trail                   1

In [52]:
grouped = df.groupby('CLUBE / TEAM').size().reset_index(name='Number of Athletes')

# Filter the groups with more than three athletes and display the names of athletes
for team, num_athletes in grouped[grouped['Number of Athletes'] > 3].itertuples(index=False):
    team_athletes = df[df['CLUBE / TEAM'] == team]['Name']
    print(f"Team: {team}")
    print("Athletes:")
    for athlete in team_athletes:
        print(athlete)
    print()

KeyError: ignored

In [53]:
grouped.columns

Index(['CLUBE / TEAM', 'Number of Athletes'], dtype='object')

In [57]:
import pandas as pd

# Suppose you have a DataFrame called 'df' with columns 'Name' and 'Team'
df = pd.read_csv(url2, encoding='latin-1')  # Use this line to read from a CSV file

df = df[df['GÉNERO'] == 'M']

# Define the regex pattern
pattern = r'Sénior|M\d+'

# Filter the rows where the 'Escalão' column matches the pattern
df = df[df['ESCALÃO / CATEGORY'].str.contains(pattern)]

# Remove the team with the name 'Individual'
df_filtered = df[df['CLUBE / TEAM'] != 'Individual']

# Group the filtered data by 'Team' and get the number of athletes in each team
grouped = df_filtered.groupby('CLUBE / TEAM').size().reset_index(name='Number of Athletes')

# Sort the grouped DataFrame by the number of athletes in descending order
sorted_grouped = grouped.sort_values(by='Number of Athletes', ascending=False)

# Iterate over the teams with more than three athletes and display the names of athletes
for team, num_athletes in sorted_grouped[sorted_grouped['Number of Athletes'] >= 3].itertuples(index=False):
    team_athletes = df_filtered[df_filtered['CLUBE / TEAM'] == team]['NOME / NAME']
    print(f"Team: {team}")
    print("Athletes:")
    for athlete in team_athletes:
        print(athlete)
    print()

Team: FC Penafiel
Athletes:
Adão Silva
António Teixeira
Carlos Ferreira
Hugo Soares
João Amorim
Joaquim Pinheiro
José Rocha
Mark Macedo
Raul Ferreira
Vitor Cruz
Vitor Silva

Team: Viseu 360
Athletes:
António Seixas Ramos
Carlos Ferreira
José Faro
José Gouveia
Nuno Cardoso
Paulo Lopes
Tiago Ferreira

Team: GD Os Ribeirinhos
Athletes:
Arlindo Dias
Bruno Tecelão
Cláudio Maurício
José Assunção
Miguel Menino
Nuno Dias
Roberto Leal

Team: ACD Jardim da Serra
Athletes:
Décio Abreu
Eduardo Pestana
Juvenal Faria
Paulo Macedo

Team: Clube Desportivo de Leomil
Athletes:
Gerson da Silva Faria
José A Nunes
Luís Correia
Rui Diogo da Silva Neves

Team: C.A. Macedo de Cavaleiros
Athletes:
Carlos Lopes
José Carvalho
Pedro Rodrigues
Rui Muga

Team: AD Amarante
Athletes:
Alfredo Pinheiro
Paulo Costa
Vitor Costa

Team: England Athletics
Athletes:
Matthew Knowles
Tom Spencer
William Tighe

Team: N.A. Cucujães
Athletes:
Agostinho Costa
Fernando Lima
Tiago Gonçalves

In [55]:
df_filtered

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,CLUBE / TEAM,ESCALÃO / CATEGORY,ESCALÃO FPA
0,Adão Silva,M,POR,FC Penafiel,M55,V55
2,Agostinho Costa,M,POR,N.A. Cucujães,M60,V60
4,Albino Oliveira,M,POR,GTT  Armazém do Caffé,M65,NaN
5,Alex Baldacini,M,ITA,GD Orobie  Craft,M35,NaN
7,Alexandre Ricard,M,CAN,Running Room,M35,NaN
...,...,...,...,...,...,...
247,Vitor Cruz,M,POR,FC Penafiel,M40,V40
249,Vitor Rodrigues,M,POR,Dínamo Clube Estação,M40,V40
250,Vitor Silva,M,POR,FC Penafiel,M50,V50
252,William Tighe,M,GB,England Athletics,Sénior M,NaN
254,Zak Hanna,M,IRL,New Balance,Sénior M,NaN