<a href="https://colab.research.google.com/github/ManJ-PC/Provas/blob/master/World_Moutain_Montemuro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
url2 = "https://raw.githubusercontent.com/ManJ-PC/Provas/master/Corrida%20Verticais%2C%20escadas%2C%20na%20areia%20etc/Montemuro_Vertical_Run2.csv"

,NOME / NAME,GÉNERO,PAÍS / COUNTRY,CLUBE / TEAM,ESCALÃO / CATEGORY,ESCALÃO FPA
0,Adão Silva,M,POR,FC Penafiel,M55,V55
2,Agostinho Costa,M,POR,N.A. Cucujães,M60,V60
4,Albino Oliveira,M,POR,GTT  Armazém do Caffé,M65,NaN
5,Alex Baldacini,M,ITA,GD Orobie  Craft,M35,NaN
7,Alexandre Ricard,M,CAN,Running Room,M35,NaN
...,...,...,...,...,...,...
247,Vitor Cruz,M,POR,FC Penafiel,M40,V40
249,Vitor Rodrigues,M,POR,Dínamo Clube Estação,M40,V40
250,Vitor Silva,M,POR,FC Penafiel,M50,V50
252,William Tighe,M,GB,England Athletics,Sénior M,NaN
254,Zak Hanna,M,IRL,New Balance,Sénior M,NaN

In [57]:
import pandas as pd

# Suppose you have a DataFrame called 'df' with columns 'Name' and 'Team'
df = pd.read_csv(url2, encoding='latin-1')  # Use this line to read from a CSV file

df = df[df['GÉNERO'] == 'M']

# Define the regex pattern
pattern = r'Sénior|M\d+'

# Filter the rows where the 'Escalão' column matches the pattern
df = df[df['ESCALÃO / CATEGORY'].str.contains(pattern)]

# Remove the team with the name 'Individual'
df_filtered = df[df['CLUBE / TEAM'] != 'Individual']

# Group the filtered data by 'Team' and get the number of athletes in each team
grouped = df_filtered.groupby('CLUBE / TEAM').size().reset_index(name='Number of Athletes')

# Sort the grouped DataFrame by the number of athletes in descending order
sorted_grouped = grouped.sort_values(by='Number of Athletes', ascending=False)

# Iterate over the teams with more than three athletes and display the names of athletes
for team, num_athletes in sorted_grouped[sorted_grouped['Number of Athletes'] >= 3].itertuples(index=False):
    team_athletes = df_filtered[df_filtered['CLUBE / TEAM'] == team]['NOME / NAME']
    print(f"Team: {team}")
    print("Athletes:")
    for athlete in team_athletes:
        print(athlete)
    print()

Team: FC Penafiel
Athletes:
Adão Silva
António Teixeira
Carlos Ferreira
Hugo Soares
João Amorim
Joaquim Pinheiro
José Rocha
Mark Macedo
Raul Ferreira
Vitor Cruz
Vitor Silva

Team: Viseu 360
Athletes:
António Seixas Ramos
Carlos Ferreira
José Faro
José Gouveia
Nuno Cardoso
Paulo Lopes
Tiago Ferreira

Team: GD Os Ribeirinhos
Athletes:
Arlindo Dias
Bruno Tecelão
Cláudio Maurício
José Assunção
Miguel Menino
Nuno Dias
Roberto Leal

Team: ACD Jardim da Serra
Athletes:
Décio Abreu
Eduardo Pestana
Juvenal Faria
Paulo Macedo

Team: Clube Desportivo de Leomil
Athletes:
Gerson da Silva Faria
José A Nunes
Luís Correia
Rui Diogo da Silva Neves

Team: C.A. Macedo de Cavaleiros
Athletes:
Carlos Lopes
José Carvalho
Pedro Rodrigues
Rui Muga

Team: AD Amarante
Athletes:
Alfredo Pinheiro
Paulo Costa
Vitor Costa

Team: England Athletics
Athletes:
Matthew Knowles
Tom Spencer
William Tighe

Team: N.A. Cucujães
Athletes:
Agostinho Costa
Fernando Lima
Tiago Gonçalves